h1.text {
    font-size: 380%;
    font-family: "Alex Brush", cursive;
}

h2 {
    font-size: 320%;
}

h4 {
    font-size: 120%;
}

.text {
    font-family: "Bpmf Zihi Kai Std", sans-serif;
    transition: color 0.75s ease
}

li::marker {
    color: #6c4e78;
}

.text:hover {
    color: rgb(236, 222, 252);
}

.container {
    display: flex;
}

.container a {
    justify-content: center;
    /*margin-left: auto; /*centers and allows for more links to be added*/
}

main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

main h1 {
    margin-top: 12rem;
    margin-bottom: 12rem;
    text-align: center;
}


article {
    display: flex;
    background-color: #d8c0ff;
    gap: 2rem;
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem ;
    align-items: center;
}


.article-text {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    color: #6c4e78;
    width: fit-content;
}

.article-text:hover {
    color: #6c4e78; /*keeps the article text from changing colour on hover*/
}

.article-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.article-description {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    align-self: flex-start;
    flex-grow: 1;
    max-width: 30rem;
}

.article-description p {
    max-width: 20rem;
}

p {
    line-height: 1.4;
}

a {
    display: flex;
    color: #d8c0ff;
    text-decoration: none;
    flex-direction: column;
}

.hoverLink {
    flex-grow: 1;
    height: 4rem;
    width: 15rem;
}


.hoverLink p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 4rem;
    border-radius: 0.1rem;
    transition: background-color 0.5s ease;
}

.hoverLink:hover p {
    background-color: #d8c0ff;
    color: #6c4e78;
}

a:visited {
    color: #d8c0ff;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#current {
    color: #6c4e78;
    background-color: #d8c0ff;
    transition: color 0.5s ease;
}

#current:hover {
    color: #d47af8;
}

#grades {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 2rem;
}