/* Global colours and layout */

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #6c4e78;
    color: #d8c0ff;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

main h1 {
    margin-top: 12rem;
    margin-bottom: 12rem;
    text-align: center;
}

/* text/headings */


h1.text {
    font-size: 380%;
    font-family: "Alex Brush", cursive;
}

h2 {
    font-size: 320%;
}

h3 {
    font-size: 180%;
}

h4 {
    font-size: 120%;
}

p {
    line-height: 1.4;
}

.text {
    font-family: "Bpmf Zihi Kai Std", sans-serif;
    transition: color 0.75s ease
}

.text:hover {
    color: rgb(236, 222, 252);
}

/* Header */
hr {
    border: 0;
    height: 1px;
    background-color: #6c4e78;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Nav bar */

nav {
    display: flex;
}

nav a {
    justify-content: center;
}

a {
    display: flex;
    color: #d8c0ff;
    text-decoration: none;
    flex-direction: column;
}

a:visited {
    color: #d8c0ff;
}

.hoverLink {
    flex-grow: 1;
    height: 4rem;
    width: 15rem;
}


.hoverLink p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 4rem;
    border-radius: 0.1rem;
    transition: background-color 0.5s ease;
}

.hoverLink:hover p {
    background-color: #d8c0ff;
    color: #6c4e78;
}

#current {
    color: #6c4e78;
    background-color: #d8c0ff;
    transition: color 0.5s ease;
}

#current:hover {
    color: #d47af8;
}

/* aside */
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

aside h3 {
    font-size: 150%;
}


/* articles */

article {
    display: flex;
    background-color: #d8c0ff;
    gap: 2rem;
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem ;
    align-items: center;
}

.article-text {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    color: #6c4e78;
    width: fit-content;
}

.article-text:hover {
    color: #6c4e78; /*keeps the article text from changing colour on hover*/
}

/* input elements */

input, textarea {
    font-size: 1.1rem;
    border-radius: 0.1rem;
    border: 1px solid #6c4e78;
    padding: 0.2rem;
}

input:focus, textarea:focus {
    outline: 1px solid #6c4e78;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    nav .hoverLink {
        width: 100%;
    }

    .article-content {
        display: flex;
        flex-direction: column !important;
    }
    figure {
        max-width: 100% !important;
    }
}