/*------------------------------------------Fonts------------------------------------------*/
.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.bpmf-zihi-kai-std-regular {
  font-family: "Bpmf Zihi Kai Std", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*---------------------------------------END of fonts---------------------------------------*/

body {
    background-color: #6c4e78;
    color: #d8c0ff
}

h1.text {
    font-size: 380%;
    font-family: "Alex Brush", cursive;
}

h2 {
    font-size: 320%;
}

h3 {
    font-size: 180%;
}

h4 {
    font-size: 120%;
}

.text {
    font-family: "Bpmf Zihi Kai Std", sans-serif;
    transition: color 0.75s ease
}

.text:hover {
    color: rgb(236, 222, 252);
}

.article-text {
    color: #852b81
}

.container {
    display: flex;
}

.container a {
    justify-content: center;
    /*margin-left: auto; /*centers and allows for more links to be added*/
}

#login-button {
    margin-left: 2rem;
    margin-right: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

#headers {
    margin-top: 12rem;
    margin-bottom: 12rem;
    text-align: center;
}

article {
    display: flex;
    background-color: #d8c0ff;
    gap: 2rem;
    flex-direction: column;
}

button {
    border-radius: 4em;
    border-color: #bda8df;
    transition: border-color 0.5s ease, color 0.5s ease;;
    border-width: 0.15rem;
    border-style: solid;
    background-color: #190416;
    color: #d8c0ff;
    font-family: "Bpmf Zihi Kai Std", sans-serif;
    font-size: 1.2rem;
    height: 2.3rem;
    width: 5.75rem;
}

/*
.line {
    border: 1px solid #6c4e78;
    width: 65rem;
}
*/

article {
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

button:hover {
    border-color: #d47af8;
    color: #d47af8;
}

.article-text {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    color: #6c4e78;
}

.article-text:hover {
    color: #6c4e78;
}

.article-description {
    margin-bottom: 1rem;
}

section article p {
    font-size: 5rem;
}

a {
    display: flex;
    color: #d8c0ff;
    text-decoration: none;
    flex-direction: column;
}

.hoverLink {
    flex-grow: 1;
    height: 4rem;
    width: 15rem;
}


.hoverLink p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 4rem;
    border-radius: 0.1rem;
    transition: background-color 0.5s ease, color 0.01s;
}

.hoverLink:hover p {
    background-color: #d8c0ff;
    color: #6c4e78;
}

a:visited {
    color: #d8c0ff;
}
