main {
    align-items: center;
}

main h1 {
    margin-top: 12rem;
    margin-bottom: 12rem;
    text-align: center;
}

button {
    border-radius: 4em;
    border-color: #ca89e3;
    transition: border-color 0.5s ease, color 0.5s ease;
    border-width: 0.15rem;
    border-style: solid;
    background-color: #190416;
    color: #ca89e3;
    font-family: "Bpmf Zihi Kai Std", sans-serif;
    font-size: 1.2rem;
    min-height: 2.3rem;
    min-width: 5.75rem;
    padding: 1rem;
}

button:hover {
    border-color: #c951f8;
    color: #c951f8;
}

#add-blog {
    min-width: 20rem;
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
}

.form-element {
    display: flex;
    max-width: 15rem;
    flex-direction: column;
    margin: 0.5rem;
}

form {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#form-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

article h2 {
    padding-bottom:2rem;
}

#blogs {
    padding: 2rem;
    margin-bottom: 2rem;
    min-width: 60rem;
}

.blogEntry {
    width: 100%;
}

#date {
    font-size: 0.8rem;
}

#date-div {
    display: flex;
    justify-content: flex-end;
}

.material-btn {
    font-size: 1.3rem !important;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    min-width: unset;
    min-height: unset;
    margin-left: 0.4rem;
    transition: background-color 0.3s ease;
}

.material-btn:hover {
    background-color: #6c4e78;
    color: #d8c0ff;
}

#refresh {
    border-radius: 0.8rem;
}

select {
    background-color: #6c4e78;
    color: #d8c0ff;
    outline: none;
    border-radius: 0.2rem;
}

#dropdown {
    margin-right: auto;
}

#titleAndDropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
